body {
  margin: 0;
  font-family: cursive;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background: rgba(0, 0, 0, 0.753);
  color: #fff;
}

h1 {
  text-align: center;
  color: #f7cf08;
}

.search-bar {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.add-button,
.edit-button,
.delete-button {
  margin: 14px;
  padding: 10px;
  background-color: #f7cf08;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.add-button:hover,
.edit-button:hover,
.delete-button:hover {
  background-color: #e6b800;
}

.add-button:active,
.edit-button:active,
.delete-button:active {
  background-color: #cd9a01;
  transform: scale(0.95);
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-list li.completed {
  text-decoration: line-through;
  color: #888;
}

.todo-list li input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.buttons {
  display: flex;
  gap: 10px;
}
